{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="../assets/img/fav-icon.png"
      type="image/x-icon"
    />
    <!--=============== REMIX ICONS ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- ttt -->
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'assets/css/cardSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/events.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("gMqTGLOkvlujF2E8q");
      })();
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <title>NICE</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo"> Nice </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../index.html#home" class="nav__link">Accueil</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Events </a>
            </li>
            <li class="nav__item">
              <a href="blog.html" class="nav__link">Blog</a>
            </li>
            <li class="nav__item">
              <a href="../index.html#Members" class="nav__link">Team</a>
            </li>

            <li class="nav__item">
              <a href="../index.html#contact" class="nav__link"
                >Contactez-nous</a
              >
            </li>
          </ul>

          <div class="nav__close" id="nav-close">
            <i class="ri-close-line"></i>
          </div>
        </div>

        <div class="nav__btns">
          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
          </div>
        </div>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
