/**********************  Event page  *************************/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.Title {
 position: initial;
}

.spacer {
height: 120px
}

.spacer-after {
  height: 50px
  }

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  position: absolute;
  top: 15px;
}
.course p {
	letter-spacing: 1px;
  margin-top: 13px;
}

.course h5 {
	opacity: 0.6;
	margin-right: 0;
	letter-spacing: 1px;
	position: absolute;
  bottom: 20px;
  left: 70px;
  text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 5px 0;
  top: 30px ; 
}
/*JS Fundamentals*/
.course-preview {
	background-color: #b8d1d3;
	color: #fff;
	padding: 30px;
	max-width: 250px;
	width: 45%;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
  flex-wrap: wrap;
}

.course-info img{
  padding: 8px 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.course-info .datepick{
  padding: 8px 18px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 65px;
}
.location
{
	width: 65px;
}

.floating-text {
/*	background-color: #001F61;*/
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
}